/**********/
/* BUTTON */
/**********/

button {
	padding:.5em;
	
	-webkit-appearance:none;
	appearance:none;
	background-color:var(--bg-button);
	border:none;
	border:var(--border--thin);
	border-radius:var(--radius--medium);

	color:var(--color-button);
	font-size:1em;
	font-weight:var(--weight--medium);

	&:not(:disabled) {
		cursor:pointer;
	}
}



/******************/
/* BUTTON SQUEAKY */
/******************/

.button--squeaky {
	padding:0;

	&:disabled {
		background-image:
			repeating-linear-gradient(
				-45deg,
				transparent calc(50% - .2em) calc(50% - .5px),
				color-mix(in srgb, currentcolor, transparent) 0 calc(50% + .5px),
				transparent 0 calc(50% + .2em)
			);
	}
 	
	span {
		display:block;
		padding:.75em;
		height:100%;
		
		background-color:var(--bg-button__span);
		border:inherit;
		border-radius:inherit;
		white-space:nowrap;
		
		translate:.25em -.25em;

		@media (prefers-reduced-motion:no-preference) {
			transition:translate .1s ease-out;
		}

		/* disabled */
		:disabled & {
			background-image:
				repeating-linear-gradient(
					45deg,
					transparent calc(50% - .2em) calc(50% - .5px),
					color-mix(in srgb, currentcolor, transparent) 0 calc(50% + .5px),
					transparent 0 calc(50% + .2em)
				);
			background-size: calc(100% - .8em) calc(100% - .8em);
			background-repeat:no-repeat;
			background-position:center;
		}
	}
}

/* pressed */
.button--squeaky[aria-pressed=true] {
	
 
	span {
		color:var(--color-button--pressed);
		background-color:var(--bg-button__span--pressed);
	}
}

/* pressed checkmark */
.button--squeaky[aria-pressed=true] span::after {
	content:"";
	position:absolute;
	top:.25em;
	right:.375em;
	display:block;
	width:.3em;
	height:.6em;
	background-image:conic-gradient(
		at .2em .45em, 
		currentColor .75turn, 
		transparent 0);
	rotate:45deg;
}


/* interaction */
.button--squeaky:not(:disabled):active span {
	@media (prefers-reduced-motion:no-preference) {
		translate:.125em -.125em;		
	}
}

.button--squeaky:not(:disabled):is(:hover, :focus-visible) {
	background-color:var(--bg-button--focus);
	outline:none;
}