aside {
	position:fixed;
	right:.5em;
	bottom:.5em;
	z-index:30;

	background-color:var(--background);
	border-radius: var(--radius--medium);
}


/********/
/* FORM */
/********/

form {
	display:flex;

	padding:.25em;
}