/********/
/* MAIN */
/********/

main {
	container-type:inline-size;
	position:relative;

	grid-column:2/-2;
	display:grid;
}

main > * {
	grid-area:1/1;
}





/****************************/
/* INFO / DETAILS & SUMMARY */
/****************************/

.info {
	position:relative;
	z-index:20;

	place-self:start;
	max-width:22em;

	flex-direction:grid;
	justify-items:start;

	visibility:hidden;
	overflow:hidden;

	translate: calc(-100% - var(--whitespace));

	@media (prefers-reduced-motion:no-preference) {
		transition:translate .2s;
	}
}


.info summary {
	padding:.25rem .5rem;	
	border-radius:var(--radius--medium);
	background-color: var(--background);
}

.info p {
	margin:.25em 0 0;
	padding:1rem;

	border:var(--border--thin);
	border-radius:var(--radius--medium);
	background-color:var(--background);
}

/* open */
.info[open] {
	width:100%;
}

/* hover */
.info summary:hover {
	cursor: pointer;
}

/* focus-visble */
.info summary:is(:hover, :focus-visible) {
	outline:var(--outline--thin);
	outline-offset:-1px;
}





/***********/
/* WEBSITE */
/***********/
.thé-thing {
	container-type:inline-size;

	width:min(100cqw, 18em);
	height:min(200cqw, 36em);
	place-self:center;
	margin:9em 0;
	
	display:grid;
}





/********/
/* LAAG */
/********/
.layer {
	grid-area:1/1;
	
	display:none;
	justify-items:center;
	translate:0;
}

.layer--top {
	display:grid;
	z-index:10;
}





/****************/
/* LAAG → TITLE */
/****************/
.layer__title {
	position:absolute;
	top:0;
	
	display:none;
	margin:0;
	padding:.5rem .75rem;
	
	background-color:var(--bg-section__h3);
	border-radius:var(--radius--small);

	font-size:1em;
	font-weight:var(--weight--medium);
	color:var(--color-section__h3);

	/* speech thingie */
	&::after {
		content:"";
		position:absolute;
		top:calc(100% - .5px);
		
		width:1.25em;
		height:1em;
		background-color:inherit;
	}

	&.is--left {
		left:2em;
		transform-origin:1em bottom;

		&::after {
			left:1em;
			clip-path:polygon(.25em 0, 1.25em 0, 0% 1em, .25em 0);
		}
	}

	&.is--right {
		right:2em;
		transform-origin:calc(100% - 1em) bottom;

		&::after {
			right:1em;
			clip-path:polygon(0 0, 1em 0, 1.25em 1em, 0 0);
		}
	}
}






/******************/
/* LAAG → CONTENT */
/******************/

.layer__content {
	position:absolute;
	inset:0;
	overflow:auto;
	overscroll-behavior-y:contain;

	border-radius:var(--radius--large);
	border:var(--border--thin);

	border-color:var(--border-color-section__div);
	background-color:var(--bg-section__div);
	color:var(--color-section__div);

	.is--yellow  & {
		--color-layer:var(--color-layer--yellow);
	}

	.is--green & {
		--color-layer:var(--color-layer--green);
	}

	.is--purple & {
		--color-layer:var(--color-layer--purple);
	}	
}

/* no scrollbar */
.layer__content {
	scrollbar-width: none;
}

.layer__content::-webkit-scrollbar {
	display:none;
}




/*************************/
/* LAAG → CONTENT → CODE */
/*************************/
.layer__content pre {
	margin:0;
	padding:1rem;

	code {
		font-family:"menlo", monospace;
		white-space:pre-wrap;
	}
}